{% extends "base.html" %}

{% block base %}
    <div class="div_login">  
        <form action = "{% url 'NovoAluno' %}" method ="POST">
            {% csrf_token %}
            <br>
            <h3 class="text_blue"><label for="buttom" align = "center"></label>Novo Aluno</label></h3><br/>                           
             <input type = "text" name = "nome"  id = "nome"value = "" placeholder = "Digite o seu nome" class="buttom"><br><br>              
             <input type = "email" name = "email" id = "email" value="" placeholder="Email de cadastro" class="buttom"><br><br>
             <input type = "celular" name = "celular" id = "celular" value="" placeholder="Contato (celular)" class="buttom"><br><br>
             <input type = "text" name = "login" id = "login" value="" placeholder="Nome de usuário" class="buttom"><br><br> 
             <input type = "text" name = "turma" id = "turma" value="" placeholder="Digite sua Turma" class="buttom"><br><br>
             <input type = "text" name = "ra" id = "ra" value="" placeholder="Digite seu RA" class="buttom"><br><br>
             <input type = "submit" value = "REGISTRAR" onclick="return validar()"/>
        </form>   
     </div>                                  
{% endblock %}